.cameras {
    background-color:  #d9d9d9;
    margin-left: 0;
    margin-right: 0;
}

.camera-info {
    margin-top:2%;
    margin-bottom:1%;
    background-color: white;
    font-size: 1.2em;
    box-shadow: 1px 1px 5px #888888;
}

/*TODO typo in wrod foto :)*/

.cam-foto {
    background-image: url("../images/cam.svg");
    margin-left: 11px;
    padding: 8%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    width: 30%;
}

.info {
    float:left;
    width: 60%;
}

.info-field {
    margin-bottom: 3%;
    margin-top:3%; 
}

.icons {
    width:5%;
    display: inline-block;
    margin-top: 2%;
}

/*TODO background-color: white; can be defined as variable by using scss*/

.icons>button {
    background-color: white;
}

.icons>button:focus {
    background-color: white;
    outline:none;
}

.icons>button:active {
    background-color: white;
    outline: none;
}