.cameras {
    background-color:  #d9d9d9;
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.camera-info {
    margin-top:2%;
    margin-bottom:2%;
    background-color: white;
    font-size: 1.2em;
    box-shadow: 1px 1px 5px #888888;
}

.cam-foto {
    background-image:url("../images/cam.svg");
    margin-left: 11px;
    padding: 8%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    width: 30%;
}

.info {
    float:left;
    width: 63%;
}
