.global {
    background-image: url("../images/logImg1.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
overflow:hidden;
}

.nav-bar {
    width: 100%;
}
.nav-container {
    overflow: hidden;
}
.nav-menu {
    display: none;
}
nav.nav-bar ul {
    list-style: none;
}
.nav-list {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.nav-list li {
    float: left;
    width:25%;
}
.nav-list li a {
    display: block;
    color: #f9f9f9;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.nav-list li a:hover {
    -webkit-filter: brightness(1.3);
    padding-top: 20px ;
}


@media screen and (max-width: 750px) {

    .nav-menu {
        color: #ffffff;
        float: left;
        display: block;
        padding: 10px 10px;
        cursor: pointer;
        text-decoration: none;
    }
    .nav-list {
        float: left;
        width: 100%;
    }

    .nav-list li {
        width: 100%
    }

    .nav-list li a {
        text-align: left;
    }
    #nav li a:hover {
        text-decoration: none;
        margin-left: 3%;
    }
    #nav li a:focus{
        text-decoration: none;
    }
    #nav {
        display:none;
        list-style: none;
    }
    .nav-menu:hover {
        color: #fffff4;
        text-decoration: none;
    }
}

.login {
    background-color: rgba(230, 231, 255, 0.66);
    opacity: 1;
    padding:3% 2% 2% 2%;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    width: 23%;
    margin-top: 6%;
    margin-bottom: 10%;
    min-width:270px;
}



.input {
    border:solid 1px black;
}

.textUsernamePassword {
    margin-bottom:-2%;
}

.logText {
    text-align:center;
    margin-bottom: 7%;
    margin-top:-5%;
    font-family: 'Open Sans Condensed', sans-serif;
}
.loginLine {
    margin-top:-2%;
    box-shadow:1px 1px 1px 1px black;
}
.btnLog {
    border:solid 1px black;
    display: inline;
    float: right;
    width: 30%;
    margin-top: 0.5%;
    margin-right:0;
}

#btnLogId:hover, #btnLogId:active {
    color: black;
    background-color: rgb(211, 212, 236);
    border:solid 1px black
}


.blink {
    -webkit-animation: blink 3s linear infinite;
    animation: blink 2s linear infinite;
    font-weight: bold;
    color: #000000;
}

@-webkit-keyframes blink {
    0% { color: #060000; }
    50% { color: #ffffff; }
    100% { color: #060000; }
}

@keyframes blink {
    0% { color: #000000; }
    50% { color: #ffffff; }
    100% { color: #060000; }
}
