.global {
    background-image: url("../images/logImg1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.btnLog {
    border:solid 1px black;
    display: inline;
    float: right;
    width: 25%;
    margin-top: 0.5%;
    margin-right:0;
}

#btnLogId:hover {
    background-color: rgb(230, 231, 255);
}
.label {
    margin-top:5%;
    margin-left: 50%;
    display: inline;
}

.input {
    border:solid 1px black;
}

.text {
    margin-bottom:-2%;
}

.login {
    background-color: rgba(230, 231, 255, 0.66);
    opacity: 1;
    /*background-color:rbga(255,255,255,0.5%);*/
    padding:2%;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    width: 25%;
    margin-top: 7%;
    margin-bottom: 9%;
    margin-left:37%;
    min-width:300px;
}

.nav-bar {
    width: 100%;
}
.nav-container {
    overflow: hidden;
}
.nav-menu {
    display: none;
}
nav.nav-bar ul {
    list-style: none;
}
.nav-list {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.nav-list li {
    float: left;
    width:25%;
}
.nav-list li a {
    display: block;
    color: #f9f9f9;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.nav-list li a:hover {
    -webkit-filter: brightness(1.3);
    padding-top: 20px ;
}

@media screen and (max-width: 1200px) {

    .global {
        background-size:120%;
    }
    .loginGlobal {
        width: 110%;
    }

    .login {
        margin-left:35%;
    }
}


@media screen and (max-width: 950px) {
    .global {
        background-size:140%;
    }
    .loginGlobal {
        width: 150%;
    }

    .login {
        margin-left:20%;
    }
}
@media screen and (max-width: 750px) {

    .nav-menu {
        color: #fff;
        float: left;
        display: block;
        padding: 10px 10px;
        cursor: pointer;
    }

    .nav-list {
        float: left;
        width: 100%;
        height: 0;
    }

    .nav-list li {
        width: 100%
    }

    .nav-list li a {
        text-align: left;
    }

    .nav-list li a:hover {
        padding-left: 20%;
        padding-top: 10px;
    }
    #nav{
        display:none;
    }
    .global {
        background-size:200%;
    }
    .loginGlobal {
        width: 200%;
    }

    .login {
        margin-left:10%;
    }
}

@media screen and (max-width: 500px) {
    .global {
        background-size:220%;
    }
    .loginGlobal {
        width: 150%;
    }

    .login {
        margin-left:10%;
    }
}
@media screen and (max-width: 350px) {
    .global {
        background-size:240%;
    }
    .loginGlobal {
        width: 150%;
    }

    .login {
        margin-left:0%;
    }
}
.logText {
    text-align:center;
    margin-bottom: 7%;
    margin-top:-5%;
    font-family: 'Open Sans Condensed', sans-serif;
}
.loginLine {
    margin-top:-2%;
    box-shadow:1px 1px 1px 1px black;
}

.blink {
    -webkit-animation: blink 3s linear infinite;
    animation: blink 2s linear infinite;
    font-weight: bold;
    color: #000000;
}

@-webkit-keyframes blink {
    0% { color: #060000; }
    50% { color: #ffffff; }
    100% { color: #060000; }
}

@keyframes blink {
    0% { color: #000000; }
    50% { color: #ffffff; }
    100% { color: #060000; }
}
