body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: white;
    color:#000000;
    width: 100%;
    min-width: 400px;
    overflow-x: hidden;
}
.container {
    width:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.topMenu {
    padding: 20px 0 20px 0;
    box-shadow: 2px 2px 2px 2px #DFE3EE;
/*    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(242, 148, 146, 1), rgba(17, 67, 87, 1)) repeat;*/
    background-color: rgb(94, 133, 132);
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-size: auto auto;
}
.header {
    width: 100%;
}

.footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 0 10px 0;
}
.logo {
    margin-top: 0;
    width:10%;
    display: inline-block;
}

.nav-bar {
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}
.nav-container {
    overflow: hidden;
}
.nav-menu {
    display: none;
}
nav.nav-bar ul {
    list-style: none;
    width: 80%;
    margin: auto;
}
.nav-list {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.nav-list li {
    display: inline-block;
    line-height: 1;
    width:20%;
    margin: 0 2% 0 2%;
}
.nav-list li a {
    cursor: pointer;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 3px rgb(125, 125, 125);
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
    vertical-align: middle;
}
.nav-list li:hover {
    -webkit-filter: brightness(1.3);
    font-size: medium;
}
.nav-list li:focus {
    -webkit-filter: brightness(1.3);
    font-size: medium;
}
.nav-list li:active {
    -webkit-filter: brightness(1.3);
    font-size: medium;
}


.nav-menu {
    color: #ffffff;
    float: left;
    display: block;
    padding: 10px 10px;
    cursor: pointer;
    text-decoration: none;
}
#nav li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 3px rgba(39, 254, 145, 0.28);
}
#nav li a:hover {
    text-decoration: none;
    margin-left: 3%;
}
#nav li a:focus{
    text-decoration: none;
}
#nav {
    display:none;
    list-style: none;
}
.nav-menu:hover {
        color: #fffff4;
        text-decoration: none;
}