body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: white;
    color:#000000;

    width: 100%;
    min-width: 400px;
}
.global {
    width:100%;
    height: 100%;
    margin:auto;
}


#nav {
    display:none;
}
.topMenu {
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #DFE3EE;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(242, 148, 146, 1), rgba(17, 67, 87, 1)) repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-size: auto auto;
}

.logo {
    margin-top: 0;
    width:10%;
    display: inline-block;
}



.footer {
    text-align: center;
}



.nav-bar {
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
}
.nav-container {
    overflow: hidden;
}
.nav-menu {
    display: none;
}
nav.nav-bar ul {
    list-style: none;
}
.nav-list {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.nav-list li {
    float: left;
    width:25%;
}
.nav-list li a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 3px rgb(125, 125, 125);
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
    vertical-align: middle;
}
.nav-list li a:hover {
    -webkit-filter: brightness(1.3);
    padding-top: 20px ;
}
.nav-list li a:focus {
    -webkit-filter: brightness(1.3);
    padding-top: 20px ;
}

/*TODO Do we actually need these media queries ? let's discuss their usage verbally*/
@media screen and (max-width: 750px) {

    .nav-menu {
        color: #ffffff;
        float: left;
        display: block;
        padding: 10px 10px;
        cursor: pointer;
        text-decoration: none;
    }
    .nav-list {
        float: left;
        width: 100%;
        /*TODO remove height property*/
        height: 0;
    }

    .nav-list li {
        width: 100%
    }

    .nav-list li a {
        text-align: left;
    }
    #nav li a:hover {
        text-decoration: none;
        margin-left: 3%;
    }
    #nav li a:focus{
        text-decoration: none;
    }
    #nav {
        display:none;
        list-style: none;
    }
    .nav-menu:hover {
        color: #fffff4;
        text-decoration: none;
    }
}





